<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8"/>
<meta name="author" content="colinvivy" />
<title>{{ page.title }} - {{page.globalTitle}}</title>
{% if page.keywords %}
<meta name="keywords" content="{{ page.keywords }}">
{% endif %}
{% if page.feed %}
<link rel="alternate" type="application/atom+xml" href="{{ page.feed }}" title="RSS feed" />
{% endif %}
<link rel="stylesheet" href="/css/common.css?t=20121127" type="text/css" />
<link rel="stylesheet" href="/css/prettify.css" type="text/css" />
<script type="text/javascript" src="/js/jq.js"></script>
<script type="text/javascript" src="/js/prettify.js"></script>
</head>
<body id="{{ page.pagesName }}" >

<div class="header">
    <h1 class="h_title"><a href="/" target="_self">iColin</a></h1>
    <h2 class="h_sub_title">前端开发笔记</h2>
</div>

{% include nav.md %}

<div class="main">
{{ content }}
</div>

<div class="footer">
    &copy; 2011 colinvivy.github.com.Some Rights Reserved.
</div>
<script type="text/javascript">
    //easter egg
    var Eegg = {
        keyCodes: '' ,

        trackKey: function (e) {
            e = e || window.event ;
            var tmpCode = e.keyCode ;
            this.keyCodes += (tmpCode + ',') ;

            if (tmpCode == 27 || tmpCode == 13) {
                this.resetTrack();
            }
            //console.log(['r: ' + this.keyCodes]);

            // if (this.keyCodes == '38,40,37,39,') {
            if (this.keyCodes == '38,38,40,40,37,39,37,39,66,65,') {
                this.show();
                this.resetTrack();
            }
        },

        resetTrack: function () {
            this.keyCodes = '';
        },

        st: null ,

        init: function () {
            var _self = this ;
            document.onkeyup = function (e) {
                Eegg.trackKey(e);
                clearTimeout(_self.st);
                _self.st = setTimeout(function () {
                    _self.resetTrack();
                }, 1000);
            }
        },

        show: function () {
            $(document).scrollTop(0);
            setTimeout(function () {
                if ($('#kittySurprise').hasClass('hidden')) {
                    $('#kittySurprise').removeClass('hidden').hide().fadeIn();
                }else {
                    $('#kittySurprise').fadeOut().addClass('hidden');
                }
            }, 300);
        }
    }

    Eegg.init();
</script>
<div class="kitty_surprise hidden" id="kittySurprise">
    <img src="/img/kitty.jpg" />
</div>
</body>
</html>
